apiVersion: apps/v1
kind: Deployment
metadata:
  name: classifier
  namespace: workload-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: classifier
  template:
    metadata:
      labels:
        app: classifier
    spec:
      containers:
        - name: classifier
          image: workload-demo/classifier:local
          imagePullPolicy: IfNotPresent
          env:
            - name: KAFKA_BOOTSTRAP
              value: "kafka:9092"
            - name: TOPIC_IN
              value: "jobs.in"
            - name: TOPIC_LIGHT
              value: "jobs.light"
            - name: TOPIC_HEAVY
              value: "jobs.heavy"
            - name: GROUP_ID
              value: "classifier-v1"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
